.mu-appbar-title {
  font-size: 32px !important;
  font-weight: 800 !important;
  color: #fff;
  text-shadow: 1px 1px 0px #911a11;
}

img {
  max-width: 100%;
  height: auto;
}

.button-icon {
  margin-left: 5px;
}

.text-center {
  text-align: center;
}