.mu-appbar-title {
  font-size: 32px !important;
  font-weight: 800 !important;
  color: #fff;
  text-shadow: 1px 1px 0px #4a148c;
}

h1 {
  font-size: 2.2em !important;
}

p {
  font-size: 16px !important;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

.button-icon {
  margin-left: 5px;
}

.text-center {
  text-align: center;
}

.image-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mu-form-item__focus {
  color: #d500f9 !important;
}

.mu-form-item:focus {
  color: #d500f9 !important;
}

/* Style form label colors */
.mu-form-item {
  color: rgba(255, 255, 255, 0.8) !important;
}


.mu-form-item-label {
  font-size: 22px !important;
  font-weight: 100;
}

.mu-text-field-input {
  color: #fff !important;
  /* text-shadow: 2px 2px 2px #e040fb; */
  font-size: 28px !important;
  margin: 15px 15px 15px 0px !important;
  line-height: 1em;
}

.mu-input-line {
  height: 7px !important;
  background-color: #f3e5f534 !important;
}

.mu-input-focus-line {
  height: 7px !important;
}

.mu-form-item__error .mu-form-item-help {
  color: #ffd740 !important;
  font-size: 16px !important;
  bottom: -20px;
  margin-top: 10px !important;
  letter-spacing: 0.5px;
  line-height: 1.3em;
}

.TOS .mu-form-item-help {
  bottom: -3px !important;
}

.mu-input__error {
  color: #ffd740 !important;
}

.mu-form-item,
.mu-form-item__has-label {
  margin-bottom: 35px !important;
}

.mu-checkbox-label {
  color: rgba(255, 255, 255, 0.678) !important;
}

.mu-checkbox {
  color: rgba(255, 255, 255, 0.678) !important;
}

* {
  font-family: 'Lato';
}

.passport-icons {
  margin: 30px 0px 30px 0px;
}

.round-left {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.round-right {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

.margin-top {
  margin-top: 30px;
}

.server-errors {
  text-align: center;
}

.server-errors li {
  list-style: none;
  font-size: 16px;
  color: #ffd740;
}

.server-errors h2 {
  color: #ffd740;
}